<link type="text/css" rel="stylesheet" href="css/about.css">

<div class="text-center row" id="aboutfull">

 <div id="aboutmetitle">
    <h2 id="hi1">About Me</h2>
 </div>


 <div id="carouselimages" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" id="carouselinside">
    <div class="carousel-item active">
      <img src="/images/aboutme1.jpg" style="height:500px;">
    </div>
    <div class="carousel-item">
      <img src="/images/aboutme2.jpg" style="height:500px;">
    </div>
    <div class="carousel-item">
      <img src="/images/aboutme3.jpg" style="height:500px;">
    </div>
    <div class="carousel-item">
      <img src="/images/aboutme4.jpg" style="height:500px;">
    </div>
    <div class="carousel-item">
      <img src="/images/aboutme5.jpg" style="height:500px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselimages" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselimages" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
 </div>

 <div  id="imagedes">
  <h6 id="hi1">I am a software engineer (back-end, full stack, site reliability) and an IT professional with over 8+ years of tech experience. <br>
  My skills include full stack and back-end development with Python and JavaScript as well as support and scripting experience with Linux, ZFS, and Ruby on Rails framework. <br>
I am also an aspiring track and field athlete on the national stage, having competed at several USATF National Championship and won 5 NCAA Division 3 national titles in Track and Field, <br>
which has taught me dedication, perseverance, and attention to detail and use that mindset with anything I work on or set my mind to.
  </h6>
 </div>


</div>