<!DOCTYPE html>
<html lang="en">

 <head>
  <link type="text/css" rel="stylesheet" href="css/background.css">
 </head>

 <body>
  <canvas id="projector">Your browser does not support the Canvas element.</canvas>
  <script src="https://code.createjs.com/easeljs-0.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/background.js"></script>
 </body>

 </html>