<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nicholas Guarino</title>
    <link rel="icon" href="/images/favicon.png">
</head>


<body>
    <h1>Favicon took forever to get to work</h1>
    <img src="/images/icon.png">
</body>
</html>