<div class="row text-center" id="index">
    <div>
        <h2 id="hi1">Hello, I am</h2>
        <div class="light" data-text="Nicholas Guarino">Nicholas Guarino</div>
        <h2 id="hi2">a Software Engineer (Backend, FullStack, and SRE/Infrastructure), IT professional, and runner!</h2>
    </div>
</div>



