<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nicholas Guarino</title>
  <link rel="icon" href="/images/favicon.png">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="css/background.css">
  <link type="text/css" rel="stylesheet" href="css/styles.css" >
    
  <canvas id="projector">Your browser does not support the Canvas element.</canvas>
  









</head>

<body> 
  <%# <h1>Favicon took forever to get to work</h1>
  <img src="/images/icon.png">
  <a href="/images/icon.png" class="btn" onclick="Materialize.fadeInImage('/images/icon.png')">Click Me</a> %>

  <div>
  <%= yield %>
  </div>

  
  <script src="https://code.createjs.com/easeljs-0.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
  <script type="text/javascript" src="js/background.js"></script>
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  
</body>

</html>