<link type="text/css" rel="stylesheet" href="css/projects.css">

<div class="row text-center" id="projects">
    <div id="projecttitle">
        <h2 id="project1">Projects</h2>
    </div>
    <div id="project2">
        <a href="https://github.com/nguarino522" target="_blank">
            <img src="images/github.png" id="githubimage">
        </a>
    </div>
    <div id="projectdescription">
        <h5 id="project1">For a list of past and current projects I am working please see my GitHub profile. <br>
                     Click on the GitGub logo image above, or <a href="https://github.com/nguarino522" target="_blank">here<a>
                     , to see it!
        </h5>
    </div>
</div>

<%# need to update to include boxes or something of good projects for now link to github profile %>